@font-face {
  font-family: 'PilcrowRounded-Semibold';
  src: url('./fonts/PilcrowRounded-Semibold.woff') format('woff');
  font-weight: 400 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Hind-Regular';
  src: url('./fonts/Hind-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Boska-Medium';
  src: url('./fonts/Boska-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

.App {
  margin: 100px;
  display: flex;
}
@media only screen and (max-width: 1024px) {
  .App {
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
  }
}
:root {
  --strong1: rgb(246, 162, 142);
  --strong2: rgb(56, 48, 92);
  --light1: #ffffff;
  --light2: #ecd1ca;
}

body {
  color: var(--light2);
  background-color: #38305c;
  font-family: 'Hind-Regular';
  letter-spacing: 0.03em;
}

h1,
h2 {
  color: var(--light1);
  font-family: 'Boska-Medium';
}
