ul {
  list-style: none;
}

.nav {
  padding-left: 20px;
  padding-top: 15px;
  border-top-left-radius: 5px;
  border-top: solid 1px var(--strong1);
  border-left: solid 1px var(--strong1);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1024px) {
  .nav {
    flex-direction: row;
    gap: 10px;
    margin-bottom: 0px;
    margin-top: 15px;
    position: fixed;
    top: 0;
    right: 20px;
  }
}

.nav li {
  margin-bottom: 10px;
  cursor: pointer;
  width: fit-content;
}

.nav .active {
  border-bottom: 1px solid var(--strong1);
  font-style: italic;
}

a {
  color: var(--light1);
  text-decoration: none;
}

#Contact a:hover {
  color: var(--strong1);
}
