.project {
  display: flex;
  align-items: start;
}

.project h2 {
  margin-top: 0px;
}

img {
  width: 200px;
  border-radius: 3px;
  object-fit: cover;
  margin-right: 10px;
  /* box-shadow: 0 0 10px rgb(var(--light1)); */
  /* box-shadow: 0 0 10px calc(rgba(var(--light1), 1)); */
  /* box-shadow: 0 0 10px var(--light1); */
}
