ul {
  list-style: none;
  padding-left: 0px;
}

.social-list {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1024px) {
  .social-list {
    flex-direction: row;
    gap: 15px;
    justify-content: flex-end;
    margin-top: 0;
  }
}
